/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2015, 10:25:03 AM
    Author     : clicklabs
*/
/*general body styling*/
body{
    margin:0 auto;
    background: url("../jQuerryImages/background.jpeg"); 
}
/*styling of the form part*/
#form
{
    margin: 50px 350px 0px 350px;
    border-style:solid; 
    background-color: rgba(255, 255, 255, 0.5);
}
/*heading on the top*/
h2
{
    text-align: center;
    padding: 5px;
}
/*table columns styling*/
td
{
    padding: 10px 10px 10px 0px;
    font-size: larger;
    
}
#submit-button
{
    margin: 5px 250px;
}